body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_1 {
  width: 100%;
  height: 100vh;
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_1 .title {
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.section_2 {
  width: 100%;
  background-color: white;
  color: gray;
  padding: 50px 80px;
  text-align: justify;
}

.section_2 h3 {
  color: #111;
  font-size: 20px "Lato", sans-serif;
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_2 p {
  margin: 15px;
  line-height: 28px;
}

.section_3 {
  min-height: 400px;
  background-image: url("https://www.w3schools.com/howto/img_parallax2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_3 .title {
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
  padding: 18px;
}

.section_4 {
  height: 157px;
  background-color: #282E34;
}

.section_4 .font_container {
  color: #fff;
  padding: 50px 80px;
  text-align: justify;
}

.section_5 {
  min-height: 400px;
  background-image: url("https://www.w3schools.com/howto/img_parallax3.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_5 .title {
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
  padding: 18px;
}

.section_6 {
  height: 157px;
  background-color: #282E34;
}

.section_6 .font_container {
  color: #fff;
  padding: 50px 80px;
  text-align: justify;
}

.section_7 {
  width: 100%;
  height: 100vh;
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_7 .title {
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
/*# sourceMappingURL=index.css.map */