// 文字顏色
$font-white:#fff;
$font-black:#111;
$font-gray:gray;

// 背景顏色
$bg-span-color:rgba(0, 0, 0, 0.95);
$bg-darkblue:#282E34;
$bg-white:white;
$mask:rgba(255,255,255,0.35);

//文字大小
$font-size:25px;

//標題
$title-size:20px;

//內文
$text-size:16px;
